
.login-company-body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inline-button {
    display: inline-block;
    width: 100%;
}