h2 {
	font-size: 2rem;
	font-weight: 400;
	text-align: center;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.modal {
    padding: 2rem;
}

.form-row {
    margin-bottom: 0.5rem;
}

.header-row {
    display: flex;
    justify-content: center;
}

.header-width {
    width: 80%;
}

.full-width {
    width: 100%;
}

.small-button {
    width: 20%;
    margin-left: 0.5rem;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.error {
    color: #f44336;
    font-size: smaller;
}