<div class="candidate-register-body candidate-theme">
  <app-login-logon-container>
    <app-form-header portal="candidate" i18n="@@candidateregister">Registro de <br>cantidato</app-form-header>
    <form [formGroup]="candidateRegisterForm" (ngSubmit)="candidateRegister(candidateRegisterForm.value)">
      <div class="form">

        <mat-form-field class="form-field meddium-width" appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@candidatename">Nombres</mat-label>
          <input matInput id="names" class="form-control" formControlName="names">
          <mat-error *ngIf="candidateRegisterForm.get('names')!.invalid">
            {{ getErrorMessage('names') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field meddium-width" appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@candidatelastname">Apellidos</mat-label>
          <input matInput id="last_names" class="form-control" formControlName="last_names">
          <mat-error *ngIf="candidateRegisterForm.get('last_names')!.invalid">
            {{ getErrorMessage('last_names') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field full-width" appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@candidateemail">Correo electrónico</mat-label>
          <input matInput id="email" class="form-control" formControlName="email">
          <mat-error *ngIf="candidateRegisterForm.get('email')!.invalid">
            {{ getErrorMessage('email') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field full-width" appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@password">Contraseña</mat-label>
          <input matInput id="password" type="password" class="form-control" formControlName="password">
          <mat-error *ngIf="candidateRegisterForm.get('password')!.invalid">
            {{ getErrorMessage('password') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field full-width" appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@passwordconfirm">Confirmación de contraseña</mat-label>
          <input matInput id="passwordConfirm" type="password" class="form-control" formControlName="passwordConfirm">
          <mat-error *ngIf="candidateRegisterForm.get('passwordConfirm')!.invalid">
            {{ getErrorMessage('passwordConfirm') }}
          </mat-error>
        </mat-form-field>

        <div class="checkbox-field full-width">
          <mat-checkbox matInput id="termsCheck" class="form-control full-width" formControlName="termsCheck" (change)="MarkTouchedAux()" i18n="@@termsconditions">
            Acepto los <a href="https://www.google.com" target="_blank">términos y condiciones de ABC Jobs</a>
          </mat-checkbox>
          <mat-form-field [ngClass]="candidateRegisterForm.get('termsCheck')!.invalid && candidateRegisterForm.get('termsCheck2')!.touched ? '' : 'hidden'" class="tricky-input" appearance="outline" subscriptSizing="dynamic">
            <input matInput id="termsCheck2" class="form-control" formControlName="termsCheck2">
            <mat-error *ngIf="candidateRegisterForm.get('termsCheck')!.invalid">
              {{ getErrorMessage('termsCheck') }}
            </mat-error>
          </mat-form-field>

        </div>

        <app-abc-button type="submit" [disabled]="!candidateRegisterForm.valid" class="inline-button" color="primary" i18n="@@register">REGISTRARSE</app-abc-button>
        <p class="success" *ngIf="registerSucess" i18n="@@candidateregistersuccess">Registro exitoso</p>
      </div>
    </form>
  </app-login-logon-container>
  <app-unlogged-lang-picker route="candidate/register"></app-unlogged-lang-picker>
</div>
