h2 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0.4rem 0rem;
    color: var(--contrastCandidateColor);
}

app-interview-card {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: calc(15% - 1rem);
}

::ng-deep .drag-scroll-content {
    scrollbar-width: none;
    display: flex !important;
    justify-content: center;
}

::ng-deep .drag-scroll-content::-webkit-scrollbar { 
    display: none; 
}

.scheduled-interviews-container {
    padding: 0% 10%;
    height: 90%;
}

.finished-interviews-container {
    padding: 0% 10%;
    height: 90%;
}

.interview-cards {
    align-items: center;
    width: 100%;
}