.form-field {
  margin-bottom: 0.5rem;
}

.checkbox-field {
  margin-bottom: 1rem;
}

.full-width {
  width: 100%;
}
/* 
.meddium-width {
  width: 48%;
} */
/* 
mat-form-field:nth-of-type(2) {
  float: right;
}
 */
.mdc-label {
  opacity: 60%;
}

.candidate-login-body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: safe center;
  justify-content: safe center;
}

.candidate-login-body form {
  padding-top: 1rem;
}

.logo-img {
  width: 100%;
  margin: 0.4rem;
}

.logo-div {
  max-width: 30%;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--contrastCandidateColor);
  margin-bottom: 1rem;
}

/* 
.hidden {
  display: none;
} */
/* 
.success {
  margin: 10px 0;
  padding: 15px;
  border-radius: 3px 3px 3px 3px;
  color: #270;
  background-color: #DFF2BF;
} */