<div class="logon-company-body client-theme">
  <app-login-logon-container>
    <app-form-header portal="company"></app-form-header>
    <div class="form">
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Nombre de la empresa</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Correo electrónico</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Contraseña</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Confirmación de contraseña</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-checkbox class="example-margin">Acepto los términos y condiciones de ABC Jobs</mat-checkbox>
      <app-abc-button class="inline-button" label="INICIAR SESIÓN" color="primary"></app-abc-button>
    </div>
  </app-login-logon-container>
</div>