.form-field {
    margin-bottom: 0.5rem;
}

.checkbox-field {
    margin-bottom: 1rem;
}

.full-width {
    width: 100%;
}

.mdc-label {
    opacity: 60%;
}

.logon-company-body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: safe center;
    justify-content: safe center;
}

.hidden {
    display: none;
}

.form{
    margin-top: 1rem;
}