<div class="logon-company-body client-theme">
  <app-login-logon-container>
    <app-form-header portal="company" i18n="@@companyregister">Registro de <br>empresa</app-form-header>
    <form [formGroup]="companyRegisterForm" (ngSubmit)="registerCompany()" >
      <div class="form">

        <mat-form-field class="form-field full-width" id="companyNameFormField" appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@companyname">Nombre de la empresa</mat-label>
          <input matInput id="companyName" class="form-control" formControlName="companyName">
          <mat-error *ngIf="companyRegisterForm.get('companyName')!.invalid">
            {{ getErrorMessage('companyName') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field full-width" id="companyEmailFormField" appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@email">Correo electrónico</mat-label>
          <input matInput id="companyEmail" class="form-control" formControlName="companyEmail">
          <mat-error *ngIf="companyRegisterForm.get('companyEmail')!.invalid">
            {{ getErrorMessage('companyEmail') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field full-width" id="passwordFormField" appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@password">Contraseña</mat-label>
          <input matInput id="passwordBase" type="password" class="form-control" formControlName="password">
          <mat-error *ngIf="companyRegisterForm.get('password')!.invalid">
            {{ getErrorMessage('password') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field full-width" id="passwordConfirmFormField" appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@passwordconfirm">Confirmación de contraseña</mat-label>
          <input matInput id="passwordConfirm" type="password" class="form-control" formControlName="passwordConfirm">
          <mat-error *ngIf="companyRegisterForm.get('passwordConfirm')!.invalid">
            {{ getErrorMessage('passwordConfirm') }}
          </mat-error>
        </mat-form-field>

        <div class="checkbox-field full-width">
          <mat-checkbox matInput class="form-control full-width" formControlName="termsCheck" (change)="MarkTouchedAux()" i18n="@@termsconditions">
            Acepto los <a href="https://www.google.com" target="_blank">términos y condiciones de ABC Jobs</a>
          </mat-checkbox>
          <mat-form-field id="termsCheckFormField" [ngClass]="companyRegisterForm.get('termsCheck')!.invalid && companyRegisterForm.get('termsCheck2')!.touched ? '' : 'hidden'" class="tricky-input" appearance="outline" subscriptSizing="dynamic">
            <input matInput id="termsCheck2" class="form-control" formControlName="termsCheck2">
            <mat-error *ngIf="companyRegisterForm.get('termsCheck')!.invalid">
              {{ getErrorMessage('termsCheck') }}
            </mat-error>
          </mat-form-field>
  
        </div>

        <app-abc-button type="submit" [disabled]="!companyRegisterForm.valid" class="inline-button" color="primary" i18n="@@register">REGISTRARSE</app-abc-button>

      </div>
    </form>
  </app-login-logon-container>
  <app-unlogged-lang-picker route="company/register"></app-unlogged-lang-picker>
  
</div>