<div class="candidate-profile-body candidate-theme">
  <app-candidate-header [username]="userPersonalInfo?.full_name || ''"></app-candidate-header>
  <div class="profile-container">
    <app-login-logon-container>
      <div class="candidate-profile">
        <div class="candidate-profile-header">
          <div class="user-name-icon">
            <div class="user-name">

              <H1>{{userPersonalInfo?.full_name}}</H1>
            </div>
            <mat-icon class="mat-icon-user">account_circle</mat-icon>
          </div>
          <mat-divider></mat-divider>
        </div>
        <div class="candidate-profile-section">
          <div class="personal-info-section">
            <div class="personal-info-title">
              <H2 class="section-title" i18n="@@personalinfo">Información Personal

                <mat-icon class="edit-icon" (click)="enableForm()" *ngIf="personalInfoDisabled">edit</mat-icon>
              </H2>
            </div>
            <form [formGroup]="personalInformationForm" (ngSubmit)="savePersonalInfo()">
              <fieldset>
                <div class="form">
                  <div class="form-row">
                    <div class="left-label">
                      <label class="form-row-label" i18n="@@candidatebirthdate">Fecha de nacimiento</label>
                    </div>
                    <mat-form-field class="form-field right-field" appearance="outline" subscriptSizing="dynamic"
                      color="accent">

                      <input matInput (focus)="picker1.open()" [max]="maxDate" [matDatepicker]="picker1"
                        formControlName="birthdate" placeholder="Seleccione una fecha"
                        i18n-placeholder="@@birthdateplaceholder">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>

                      <mat-error *ngIf="personalInformationForm.get('birthdate')!.invalid">
                        {{ getPersonalInfoErrorMessage('birthdate') }}
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="form-row">
                    <div class="left-label">
                      <label class="form-row-label" i18n="@@candidateresidencecity">Ciudad de residencia</label>
                    </div>
                    <div class="right-field space-between">
                      <mat-form-field class="form-field half-right-field" appearance="outline"
                        subscriptSizing="dynamic">
                        <mat-select formControlName="candidateCountry" placeholder="Seleccione"
                        i18n-placeholder="@@candidatecountryplaceholder">
                          <mat-option *ngFor="let country of countries" [value]="country">
                            {{country.en_short_name}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="false">
                          {{ 'a' }}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field class="form-field half-right-field" appearance="outline"
                        subscriptSizing="dynamic">
                        <input matInput id="candidateCity" class="form-control" formControlName="candidateCity"
                        placeholder="Digite la ciudad" i18n-placeholder="@@candidatecityplaceholder">
                        <mat-error *ngIf="false">
                          {{ 'a' }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="left-label">
                      <label class="form-row-label" i18n="@@candidateresidenceaddress">Dirección de residencia</label>
                    </div>
                    <mat-form-field class="form-field right-field" id="addressFormField" appearance="outline" subscriptSizing="dynamic">
                      <input matInput id="candidateAddress" class="form-control" formControlName="candidateAddress"
                      placeholder="Digite la dirección" i18n-placeholder="@@candidateaddressplaceholder">

                      <mat-error *ngIf="personalInformationForm.get('candidateAddress')!.invalid">
                        {{ getPersonalInfoErrorMessage('candidateAddress') }}
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="form-row">
                    <div class="left-label">
                      <label class="form-row-label" i18n="@@candidatemobile">Celular</label>
                    </div>
                    <mat-form-field class="form-field right-field" id="candidateMobileFormField" appearance="outline" subscriptSizing="dynamic">
                      <input matInput id="candidateMobile" class="form-control" formControlName="candidateMobile"
                      placeholder="Digite un número" i18n-placeholder="@@candidatemobileplaceholder">

                      <mat-error *ngIf="personalInformationForm.get('candidateMobile')!.invalid">
                        {{ getPersonalInfoErrorMessage('candidateMobile') }}
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="form-row">
                    <div class="left-label">
                      <label class="form-row-label" i18n="@@candidatelanguages">Idiomas</label>
                    </div>
                    <mat-form-field class="form-field right-field" appearance="outline" subscriptSizing="dynamic"
                      [ngClass]="personalInfoDisabled?'chips-field-disabled':''">
                      <mat-chip-grid #chipGrid>
                        <mat-chip-row *ngFor="let language of selectedLanguages" (removed)="removeLanguage(language)"
                          [ngClass]="personalInfoDisabled?'chip-disabled':''">
                          {{language}}
                          <button matChipRemove [attr.aria-label]="'remove ' + language">
                            <mat-icon>cancel</mat-icon>
                          </button>
                        </mat-chip-row>
                      </mat-chip-grid>
                      <input #languageInput formControlName="candidateLanguages" [matChipInputFor]="chipGrid"
                        [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="addLanguage($event)" placeholder="Seleccione"
                        i18n-placeholder="@@candidatelanguageplaceholder" />
                      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let language of filteredLanguages | async" [value]="language">
                          {{language}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>

                  <div class="form-row">
                    <div class="left-label">
                      <label class="form-row-label" i18n="@@candidatebio">Bio</label>
                    </div>
                    <mat-form-field class="form-field right-field" id="candidateBioFormField" appearance="outline" subscriptSizing="dynamic">
                      <textarea matInput id="candidateBio" rows="5" class="form-control"
                        formControlName="candidateBio" placeholder="Brebe biografía"
                        i18n-placeholder="@@candidatebioplaceholder"></textarea>

                      <mat-error *ngIf="personalInformationForm.get('candidateBio')!.invalid">
                        {{ getPersonalInfoErrorMessage('candidateBio') }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="buttons-div">
                    <app-abc-button *ngIf="!personalInfoDisabled" class="inline-button" color="basic" (click)="disableForm()"
                      i18n="@@cancel">Cancelar</app-abc-button>

                    <app-abc-button type="submit" *ngIf="!personalInfoDisabled"
                      [disabled]="!personalInformationForm.valid" class="inline-button" color="primary"
                      i18n="@@save">Guardar</app-abc-button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <mat-divider></mat-divider>
          <app-candidate-education></app-candidate-education>
          <mat-divider></mat-divider>
          <app-candidate-work></app-candidate-work>
          <mat-divider></mat-divider>
          <app-candidate-skills></app-candidate-skills>
          <mat-divider></mat-divider>
        </div>
      </div>
    </app-login-logon-container>
  </div>
</div>
