h1 {
    font-size: 7rem;
    font-weight: 300;
    margin: 1rem 0rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 300;
    margin: 1rem 0rem;
    color: var(--contrastCandidateColor)
}

mat-divider {
    width: 100%;
    align-self: center;
    justify-content: center;
}

mat-icon {
    font-size: 18rem;
    color: var(--darkColor);
    width: 30%;
    height: 100%;
}

textarea{
    resize: none;
}

.form-row-label{
    font-size: 1.5rem;
}

.profile-container {
    padding: 0% 10%;
}

.candidate-profile{
    padding: 0rem 2rem;
}

.candidate-profile-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.candidate-profile-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-name{
    display: flex;
    align-items: center;
    width: 70%;
}

.user-name-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.left-label{
    width: 40%;
}

.right-field{
    width: 60%;
}

.half-right-field{
    width: 49%;
}

.form-row{
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.space-between{
    display: flex;
    justify-content: space-between;
}


