app-team-project-card {
    width: calc(20% - 1rem);
    padding: 0.5rem !important;
}

::ng-deep .teams-container .login-logon-container {
    padding-bottom: 0rem !important;
}

::ng-deep .projects-container .login-logon-container {
    padding-top: 0rem !important;
}

::ng-deep .drag-scroll-content {
    scrollbar-width: none;
    display: flex !important;
}

::ng-deep .drag-scroll-content::-webkit-scrollbar { 
    display: none; 
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0.4rem 0rem;
    color: var(--contrastCompanyColor);
}

.teams-container {
    padding: 0% 10%;
    height: 90%;
}

.projects-container {
    padding: 0% 10%;
    height: 90%;
}

.team-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.project-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.add-card {
    cursor: pointer;
}