mat-icon {
    color: var(--lightColor);
    transform: scale(2);
}

.logo-div {
  background-color: var(--contrastCandidateColor);
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  /* margin-bottom: 1rem;
  max-width: 30%; */
}

img.logo-img {
  width: 40px;
  height: 40px;
  margin: 0.4rem; 
}

.example-spacer {
    flex: 1 1 auto;
}

.center-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-vertical span {
  margin: 5px 30px;
}

.user-name-icon {
    cursor: pointer;
}

.user-name-label {
    margin-right: 0.5rem;
}