<mat-toolbar color="primary">
  <div class="center-vertical">
    <div class="logo-div" [routerLink]="'/'+appRoutes.candidate+'/'+appRoutes.candidateHome+'/'+token">
      <img class="logo-img" src="../../../assets/logo.png" >
    </div>

    <span class="tab-label" i18n="@@hometab" [routerLink]="'/'+appRoutes.candidate+'/'+appRoutes.candidateHome+'/'+token">Home</span>
    <span class="tab-label" i18n="@@menutechtests" [routerLink]="'/'+appRoutes.technicalTest+'/'+appRoutes.technicalTestCandidate+'/'+token">Pruebas Técnicas</span>
    <span class="tab-label" i18n="@@interviews" [routerLink]="'/'+appRoutes.candidate+'/'+appRoutes.candidateInterviews+'/'+token">Entrevistas</span>

  </div>
  <span class="example-spacer"></span>
  <span flex></span>
  <div class="center-vertical user-name-icon"
    [routerLink]="'/'+appRoutes.candidate+'/'+appRoutes.candidateProfile+'/'+token">
    <span class="user-name-label">{{username}}</span>
    <button mat-icon-button class="user-icon-button">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
  <div class="center-vertical user-settings-icon">
    <button mat-icon-button class="user-icon-button" (click)="openUserSettingsDialog()">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</mat-toolbar>