mat-icon {
    color: var(--lightColor);
    transform: scale(2);
}

.logo-div {
  height: 80%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--contrastCandidateColor);
  margin-right: 2rem;
  margin-left: 1rem;
}

.example-spacer {
    flex: 1 1 auto;
}

.center-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.user-name-icon {
    cursor: pointer;
}

.user-name-label {
    margin-right: 0.5rem;
}

.logo-img {
    max-height: 100%;
    cursor: pointer;
}

.tab-label {
    margin-right: 1rem;
    font-weight: initial;
    cursor: pointer;
}