<mat-toolbar color="primary">
  <div class="center-vertical">
    <div class="logo-div" >
      <img class="logo-img" src="../../../assets/logo.png" >
    </div>
    <button mat-button>Home</button>
    <button mat-button (click)="openTest()" i18n="@@menutechtests">Pruebas Técnicas</button>
  </div>
  <span class="example-spacer"></span>
  <span flex></span>
  <div class="center-vertical user-name-icon"
    [routerLink]="'/'+appRoutes.candidate+'/'+appRoutes.candidateProfile+'/'+token">
    <span class="user-name-label">{{username}}</span>
    <button mat-icon-button class="user-icon-button">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
  <div class="center-vertical user-settings-icon">
    <button mat-icon-button class="user-icon-button" (click)="openUserSettingsDialog()">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</mat-toolbar>