::ng-deep .tricky-input .mat-mdc-text-field-wrapper {
    display: none !important;
}

::ng-deep .tricky-input {
    margin-top: -11px;
    display: block !important;
}

::ng-deep mat-divider {
    background-color: var(--darkColor);
    opacity: 44%;
    width: 100%;
}

::ng-deep .mat-form-field-disabled{
    background-color: var(--lightColor);
}

::ng-deep .mdc-text-field--outlined.mdc-text-field--disabled .mdc-text-field__input{
    color: rgba(25,25,25,50) !important; 
}


