<div class="search-candidate-perfil form">
  <form [formGroup]="preselectCandidateForm" (ngSubmit)="preselectCandidate()">
    <fieldset>
      <div class="form-row">
        <div>
          <label class="form-row-label" i18n="@@searchcandidatesvacancy">Vacante</label>
        </div>
        <mat-form-field class="form-field" appearance="outline" subscriptSizing="dynamic">
          <mat-select formControlName="vacancy">
            <mat-option *ngFor="let vacancy of vacancies" [value]="vacancy.id">
              {{vacancy.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="preselectCandidateForm.get('vacancy')?.invalid">
            {{ getErrorMessage('vacancy') }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="buttons">
        <app-abc-button class="inline-button" color="basic" (click)="cancel()" 
        i18n="@@cancel">Cancelar</app-abc-button>
        <app-abc-button type="submit" color="primary" [disabled]="!preselectCandidateForm.valid" 
        i18n="@@save">Guardar</app-abc-button>
      </div>
    </fieldset>
  </form>
  <div class="messages">
    <p class="error" *ngIf="globalError" >{{globalError}}</p>
    <p class="success" *ngIf="globalMessage" >{{globalMessage}}</p>
  </div>
</div>
