.search-candidate-perfil {
  padding: 1rem;
}

form fieldset {
  border: 0px;
}

.form-row {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  justify-items: center;
  justify-content: flex-end;
}

.success {
  margin: 10px 0;
  padding: 15px;
  border-radius: 3px 3px 3px 3px;
  color: #270;
  background-color: #DFF2BF;
}

.error {
  margin: 10px 0;
  padding: 15px;
  border-radius: 3px 3px 3px 3px;
  color: rgb(119, 0, 0);
  background-color: #f2bfc1;
}