p {
    margin-top: 0;
    margin-bottom: 0;
}

h2 { 
    text-overflow: ellipsis;
    width: 95%;
    overflow: hidden;
    display: block;
    text-align: center;
    margin-bottom: 0.3rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    background-color: var(--lightColor);
    border-radius: 1rem;
    height: 100%;
}

.icon-div {
    font-size: 9rem;
    display: flex;
    justify-content: center;
}

.subtitle {
    color: var(--contrastCompanyColor);
}

.country {
    color: var(--grayColor);
    display: flex;
}

.card-info{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}

.header-img {
    width: 100%;
    margin-top: 1rem;
}
