<div class="card-container">

  <div class="icon-div">
    <mat-icon [inline]="true" *ngIf="type == 'add'">add_circle</mat-icon>
    <img class="header-img" src="../../../assets/team.jpeg" *ngIf="type == 'team'" alt="team_icon">
    <img class="header-img" src="../../../assets/position.jpeg" *ngIf="type == 'position'" alt="position_icon">
    <img class="header-img" src="../../../assets/project.jpeg" *ngIf="type == 'project'" alt="project_icon">
  </div>
  <div class="card-info">
    <H2> {{ title }} </H2>
    <p class="subtitle"> {{ subtitle }} </p>
    <p class="country" *ngIf="type == 'position'"><mat-icon [inline]="true">location_on</mat-icon> {{ country }} </p>
  </div>
</div>
