<div class="company-theme company-home-body">
  <app-company-header [username]="'Perfil'"></app-company-header>

  <div class="people-container">
    <app-login-logon-container>
      <H2>Personal</H2>
      <div class="cards-container">
        <app-person-card class="add-card" type=add (click)="openAddModal()"/>

        <app-person-card *ngFor="let employee of employees" [title]="employee.name" type=employee>
          <p> {{employee.title}} </p>
          <mat-chip-listbox>
            <mat-chip class="pequena" *ngFor="let skill of employee.skills">{{skill.name}}</mat-chip>
          </mat-chip-listbox>
          <p> {{employee.personality.name}} </p>
        </app-person-card>
      </div>
    </app-login-logon-container>
  </div>
</div>