# yaml-language-server: $schema=https://json.schemastore.org/github-workflow
name: Test report
on:
  push:
  workflow_call:
  workflow_run:
    workflows:
      - Gesti贸n Evaluaciones
      - Gesti贸n Empresas
      - Gesti贸n Usuarios
      - Gesti贸n Evaluaciones
    types:
      - completed
    # branches:
    #   - master
permissions:
  contents: write
  id-token: write

jobs:
  # Github pages
  build:
    runs-on: ubuntu-latest
    # concurrency: ci-${{ github.ref }}

    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::428011609647:role/github-actions-alpaca-role

      - name: Download reports from aws
        run: |
          aws s3 sync s3://abc-jobs-artifacts/test_reports _site

      - name: Deploy 
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: _site

